@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #11071F;
}

.span {
    color: #7127BA;
}

#header {
    background-color: #1A0B2E;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1vw;
}

#header ul li {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#header ul svg {
    width: 1vw;
}

#header ul li a:link {
    color: white;
    text-decoration: none;
}

#header ul li a:visited {
    color: white;
    text-decoration: none;
}

#header ul li:hover{
    color: white;
    transform: translate(0,-2px);
}

#hero {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 10vh 0;
}

#me {
    height: 25vw;
    width: 25vw;
    background: radial-gradient(ellipse 45% 35%, white, #240F46 55%, #11071F);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#character {
    width: 20vw;
    overflow: hidden;
}

#arrow {
    position: absolute;
    top: 12%;
    left: 75%;
    width: 30%;
    animation: load 2s ease-in;
}

#herotext {
    color: white;
    font-family: "Preahvihear", sans-serif;
    position: relative;
}

#name{
    font-size: 2vw;
    color: #CCD6F6;
}

#herotext h3 {
    font-weight: 200;
    font-size: 1.5vw;
    animation: load 3s ease-in;
}

#herotext h4 {
    font-weight: 200;
    font-size: 1.2vw;
    animation: load 3s ease-in;
}

#herotext :nth-child(2) {
    text-decoration: underline;
    text-decoration-color: #7127BA;
}

#herotext h1 {
    font-size: 3.5vw;
    font-weight: 200;
    display: inline-block;
    animation: load 3s ease-in,
    moveinleft 1s ease-in;
}

#herotext h1 span {
    background: url(/src/ellipse.png) no-repeat center;
    background-size: contain;
}

#herotext p {
    font-size: 1.2vw;
    padding: 20px 0;
    width: 30vw;
    animation: load 3s ease-in;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes  moveinleft{
    0%{
        transform: translateX(1.5vw);
    }
    100%{
        transform: translateX(0);
    }
}

#section-1 {
    color: #11071F;
    font-family: "Preahvihear", sans-serif;
    margin: 0 15vw;
    background-color: white;
    padding:  3vw;
    text-align: center;
    border-radius: 10px;
}

#section-1 h1 {
    font-size: 3vw;
    font-weight: 600;
}

#section-1 h3 {
    font-size: 1.5vw;
    font-weight: 400;
}

#section-1 p {
    padding: 2vh 0;
    font-size: 1.2vw;
    font-weight: 200;
}

#section-1 h3 span {
    text-decoration: underline;
}

#section-3 {
    color: white;
    font-family: "Preahvihear", sans-serif;
    text-align: center;
    padding: 5vh 0;
}

#section-3 p{
    font-size: 2vw;
}

#section-3 p {
    font-size: 1vw;
    padding-bottom: 20px;
}

.techstack {
    padding: 10px 20px ;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.techstack svg {
    width: 5vw;
    height: 5vw;
    border: 2px solid #7127BA;
    border-radius: 10px;
    padding: 2vw;
    transition: .7s ease;
}

.techstack svg:hover {
    transform: scale(1.1);
}

#connect {
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 3vw 0;
    background-color: #0A0416;
}

#connect h3 {
    font-weight: 600;
    font-size: 2vw;
}

#connect p {
    font-size: 1.1vw;
    padding: 10px;
}

#connect svg {
    padding: 10px;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    background-color: white;
}

#connect-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#projects {
    padding: 10vh 0;
}

#projects>h3:first-child {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
}

#projects>p {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.project {
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 5vw 10vw;
    display: flex;
    background: radial-gradient(ellipse 20% 55%, #240F46 55%, #11071F);
    position: relative;
}

.right {
    flex-direction: row-reverse;
    text-align: end;
}

.projecttext {
    position: relative;
    z-index: 10;
}

.project svg {
    width: 2vw;
    height: 2vw;
}

.projecttext h3 {
    font-size: 2vw;
    color: #CCD6F6;
    padding: 1.5vw 0;
}

.projecttext p {
    font-size: 1vw;
    color: #CCD6F6;
    width: 40vw;
    padding: 1vw 3vw;
    border-radius: 10px;
}

.project img {
    position: relative;
    right: 10%;
    border-top: #2B0B3A solid 2vw;
    border-left: #2B0B3A solid 2vw;
    width: 40vw;
    border-radius: 10px;
}

.glass {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.right img {
    position: absolute;
    left: 10%;
    border-top: #2B0B3A solid 2vw;
    border-right: #2B0B3A solid 2vw;
    border-left: 0;
}

/* Animations */
.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-out, transform 2.5s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hiddenleft {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.showleft {
  opacity: 1;
  transform: translateX(0); 
}

.hiddenright {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.showright {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width:600px) {
    #header{
        justify-content: center;
        align-items: center;
    }

    #header ul{ 
        gap : 10vw;
    }

    #header ul li svg {
        width: 3vw;
    }

    #header ul li a {
        font-size: 2.5vw;
    }

    #hero {
        padding: 3vh 0;
        flex-direction: column;
    }

    #me {
        width: 50vw;
        height: 50vw;
    }

    #arrow{
        visibility: hidden;
    }

    #character {
        width: 40vw;
    }

    #name{
        font-size: 5vw;
    }

    #herotext h3 {
        font-size: 5vw;
    }

    #herotext h4 {
        font-size: 4vw;
    }

    #herotext h1 {
        font-size: 8vw;
    }

    #herotext p {
        font-size: 3vw;
        padding: 10px 0;
        width: 80vw;
    }

    #section-1 {
        margin: 0 10vw;
    }

    #section-1 h1 {
        font-size: 7vw;
    }

    #section-1 h3 {
        font-size: 4.5vw;
    }

    #section-1 p {
        padding: 2vh 0;
        font-size: 4vw;
    }

    #projects>h3:first-child {
        font-size: 8vw;
    }

    #projects {
        padding: 5vh 2vw;
    }

    #projects>p {
        font-size: 4.5vw;
    }

    #connect h3 {
        font-size: 8vw;
    }

    #connect p {
        font-size: 4vw;
    }

    #connect-logos svg {
        flex-direction: row;
    }

    #connect svg {
        width: 5vw;
        height: 5vw;
    }

    #projects{
        padding-bottom: 0;
    }

    .project {
        display: flex;
        flex-direction: column-reverse;
        background: radial-gradient(ellipse 50% 50%, #240F46 55%, #11071F);
    }

    .project img {
        position: static;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .project svg {
        width: 5vw;
        height: 5vw;
    }

    .projecttext h3 {
        font-size: 6vw;
        padding: 1.5vw 0;
    }

    .projecttext p {
        font-size: 4vw;
        width: 90%;
        padding: 2vw 5vw;
    }

    .project img {
        border: 2px solid #CCD6F6;
        width: 75vw;
    }

    .techstack {
        display: grid;
        grid-template-columns: 30vw 30vw;
        justify-items: center;
    }

    .techstack svg {
        width: 15vw;
        height: 15vw;
        padding: 5vw;
    }

    #section-3 {
        padding: 10px;
    }

    #section-3 h3{
        font-size: 5vw;
    }

    #section-3 p{
        font-size: 3.5vw;
        padding-bottom: 0;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    #header {
        display: flex;
        justify-content: center;
    }

    #header ul li svg {
        width: 3vw;
    }
    
    #header ul li {
        font-size: 3vw;
    }
    
    #hero {
        padding: 3vh 0;
    }

    #me {
        width: 30vw;
        height: 30vh;
    }

    #character {
        width: 20vw;
    }

    #herotext h3 {
        font-size: 2vw;
    }

    #herotext h1 {
        font-size: 3vw;
    }

    #herotext p {
        font-size: 2vw;
        padding: 20px 0;
    }

    #section-1 {
        margin: 0 10vw;
    }

    #section-1 h1 {
        font-size: 3vw;
    }

    #section-1 h3 {
        font-size: 2vw;
    }

    #section-1 p {
        padding: 2vh 0;
        font-size: 2vw;
    }

    #projects>h3:first-child {
        font-size: 5vw;
    }

    #projects>p {
        font-size: 3vw;
    }

    #connect h3 {
        font-size: 6vw;
    }

    #connect p {
        font-size: 3vw;
    }

    #connect-logos svg {
        flex-direction: row;
    }

    #connect svg {
        width: 5vw;
        height: 5vw;
    }

    #section-3 h3{
        font-size: 3vw;
    }

    #section-3 p{
        font-size: 2vw;
    }
}